@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@0;1&family=Mukta:wght@200&family=Ubuntu&display=swap');
body {
    /* background: #86F0D3 !important; */
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
}
#imgbg {
    background: url(../img/splsh\ bg.jpg);
    background-size: cover;
}
#mybtn:hover {
    color: brown !important;
}
.mybtn:hover {
    color: brown !important;
}
#mybtn2:hover {
    color: white !important;
}
input.form-control:hover {
    border: 1px solid chocolate;
}
button span.arrow {
    display: none;
}
button span.arrow:hover {
    /* transform: translateX(20px); */
    display: block;
}
.signin:hover {
    color: brown !important;
}
/* .card-header {
    border: 0 !important;
} */